.experience {
  width: 100%;
}

.experienceTitle {
  text-align: center;
  color: #3e497a;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 20px;
}

.experienceList {
  margin: 30px 85px 80px 85px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experienceHeader {
  display: flex;
  justify-content: space-between;
}

.position {
  font-style: italic;
  margin-bottom: 3px;
}

.duties {
  margin-left: 15px;
}

.duties li:not(:last-child) {
  margin-bottom: 3px;
}

.experienceItem {
  border-top: 2px black solid;
  padding-top: 5px;
}
