.experience {
  width: 100%;
}

.experienceTitle {
  text-align: center;
  color: #3e497a;
  font-size: 50px;
  font-weight: bolder;
  margin-top: 20px;
}

.experienceList {
  margin: 30px 60px 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experienceHeader {
  display: flex;
  justify-content: space-between;
}

.position {
  font-style: italic;
  margin-bottom: 3px;
}

.duties {
  margin-left: 15px;
}

.duties li:not(:last-child) {
  margin-bottom: 3px;
}

.experienceItem {
  border-top: 2px black solid;
  padding-top: 5px;
}

@media screen and (min-width: 1500px) {
  .experienceList {
    margin-left: calc(60px + 5vw);
    margin-right: calc(60px + 5vw);
    gap: 5vh;
  }
  .experienceList h3 {
    font-size: calc(100% + 0.6vw);
  }
  .experienceList p,
  .position,
  .duties {
    font-size: calc(100% + 0.3vw);
  }
}
